@font-face {
  font-family: Anders;
  src: url(./font/Anders.ttf);
}

$primary-color : #FFDE2F;
$nav-container-grid : 1440px;
.container {
  max-width: 1100px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

// App.tsx

// body {
//   // background: #f7f7f7;
// }

  .AppBar {
    background: #fff;
    height: 92px;
    .ToolBar {
      // display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      .Toolbar_title {
        font-size: 34px;
        font-weight: normal;
        font-family: Anders;
        color: black;
        cursor: pointer;
      }
      .Toolbar_btns {
        Button {
          color: black;
          font-size: 18px;
          border-color: black;
          margin-right : 24px;
          border-radius: 20px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
    }
  }

  .nav {
    height: 100px;
    margin: 64px 0 0;;
    background: #fff;
    .brand_btn {
      
      width: 16.6666666666667%;
      border: 1px solid #000;
      .img {
        width: 60%;
      }
    }
  }


// AllCarsPage.tsx

  .img_container {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .img_wrap {
      img {
        width: 300px;
        margin: 0 25px 25px 0;
      }
    }
  }

// Deteil.tsx



// BrandCar.tsx
  .brand_container {
    margin-top: 100px;
    padding-left: 0;
    padding-right: 0;
    .list_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-top: 50px;
      .img_wrap{
        margin: 0 25px 25px 0;
        .carImg {
          width: 240px;
        }
      }
    }
  }
}