@font-face {
  font-family: "Anders";
  src: url(./Anders.ttf);
}
@font-face {
  font-family: "GmarketSans bold";
  src: url(./GmarketSansTTFBold.ttf);
}
@font-face {
  font-family: "GmarketSans";
  src: url(./GmarketSansTTFMedium.ttf);
}
@font-face {
  font-family: "GmarketSans light";
  src: url(./GmarketSansTTFLight.ttf);
  
}
@font-face {
  font-family: "NotoSans KR";
  src: url(./NotoSansKR-Medium.otf);
}