@import "color";

$header-height: 60px;
$admin-page-height: 76px;
$nav-height: 24px;

.form {
  display: grid;
  grid-template-columns: 5fr 7fr;
  height: calc(100vh - ($header-height + $admin-page-height + $nav-height));
  overflow: hidden;
}

//BaseForm 스타일 정의
.left-form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 36px;
  overflow-y: auto;
  max-height: calc(100vh - ($header-height + $admin-page-height + $nav-height));
  label {
    color: $--color-deep-dark;
    input,
    select {
      margin-left: 8px;
    }
    input {
      width: 92px;
    }
    select {
      width: 56px;
    }
    &.seg {
      select {
        width: 102px;
      }
    }
    &.ft {
      // FuelType label(CheckBox)
      color: black;
      input {
        width: 16px;
      }
    }
  }
}

.right-form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 36px;
  overflow-y: auto;
  max-height: 100vh;
  .head {
    display: flex;
    gap: 6px;
    button {
      height: 100%;
    }
  }
}

.submit {
  width: 100%;
}
