@font-face {
  font-family: "Anders";
  src: url(FontFile/Anders.ttf);
}

/* GmarketSans */
@font-face {
  font-family: "GmarketSans bold";
  src: url(FontFile/GmarketSansTTFBold.ttf);
}
@font-face {
  font-family: "GmarketSans";
  src: url(FontFile/GmarketSansTTFMedium.ttf);
}
@font-face {
  font-family: "GmarketSans light";
  src: url(FontFile/GmarketSansTTFLight.ttf);
}

/* NotoSans KR */
@font-face {
  font-family: "NotoSans KR bold";
  src: url(FontFile/NotoSansKR-Bold.otf);
}
@font-face {
  font-family: "NotoSans KR medium";
  src: url(FontFile/NotoSansKR-Medium.otf);
}
@font-face {
  font-family: "NotoSans KR regular";
  src: url(FontFile/NotoSansKR-Regular.otf);
}
@font-face {
  font-family: "NotoSans KR light";
  src: url(FontFile/NotoSansKR-Light.otf);
}
@font-face {
  font-family: "NotoSans KR thin";
  src: url(FontFile/NotoSansKR-Thin.otf);
}