/* App */
Container {
  width: 200px;
}

/* AllCarsPage */
.grid_wrap {
  display: flex;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  &:first-child{
    border-top : none;
  }
  // border-radius: 1rem;
  .img {
    img {
      width: 100%;
      padding : 25px;
      background: #222;
      // border-top-left-radius: 1rem;
      // border-bottom-left-radius: 1rem;
    }
  }
  // .info {
    
  // }
}