@import 'main';

.container-car-list {
  @include container-style;
  .list-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0;
    margin-bottom: 3rem;
    border-color: divider;
    margin-top: 50px;
  }

  .car-list {
    position: relative;
    .prev-car {
      background-color: #ccc;
      position: absolute;
      overflow: hidden;
      z-index: 5;
    }
    .prev-close {
      display: none;
      border: 0px solid black;
      max-height: 0;
      
    }
    .prev-open {
      max-width: 500px;
      display: block;
      border: 1px solid black;
      max-height: 500px;
      padding: 16px;
    }
  }
}
