header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #d7d7d7;
  box-shadow: none;
}

.logo {
  width: 32px;
  cursor: pointer;
  display: flex;
  gap: 12px;
  img {
    width: 100%;
    height: 100%;
  }
}
