@import "main";
@import "color";

@mixin select-list($count: 6) {
  display: grid;
  grid-template-columns: repeat($count, 1fr);
  justify-content: space-evenly;
}

.container-search-page {
  @include container-center-style;
}

// 선택 옵션 박스 스타일
.container-select-box {
  // Brand Box Style
  article.select-line {
    display: flex;
    align-items: baseline;
    // 리스트 제목
    h2 {
      width: 70px;
      font-size: 18px;
    }
    // 리스트
    .list {
      .item {
        &:hover {
          background-color: #eee;
        }
        &.active {
          background-color: $--color;
        }
      }
    }
  }
}
// 브랜드
.brand-list {
  @include select-list(10);
  .brand-item {
    height: 60px;
    text-align: center;
    .logo {
      width: 45px;
      height: 28px;
      margin: 0 auto;
      .logo-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .name {
      width: 100%;
      font-size: 14px;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
// 차급
.seg-list {
  @include select-list(7);
  span {
    font-size: 14px;
  }
}

// 연료
.fuel-list {
  @include select-list(10);
  span {
    font-size: 14px;
  }
}

// 자동차 리스트 스타일
$--list-min-height: 500px;

.container-car-list {
  .list-reloading {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      min-height: $--list-min-height;
      background-color: white;
      opacity: 0.5;
    }
  }
  .list-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0;
    margin-bottom: 3rem;
    border-color: divider;
    margin-top: 50px;
  }
  // 자동차 목록
  .car-list {
    width: 100%;
    min-height: $--list-min-height;
    position: relative;
    .car-items {
      width: 100%;
      position: inherit;
      .model-list-toggle-button {
        user-select: none;
        cursor: pointer;
      }
      // 모델 목록
      .car-model-list {
        position: absolute;
        left: 0;
        overflow: hidden;
        min-width: 400px;
        background-color: #ccc;
        white-space: inherit;
        z-index: 5;
        .focus {
          span {
            color: $--color-dark;
          }
        }
      }
      .model-list-close {
        display: none;
        border: 0px solid black;
        max-height: 0;
      }
      .model-list-open {
        max-width: 500px;
        display: block;
        border: 1px solid black;
        max-height: 500px;
        padding: 16px;
      }
    }
  }
  // 가로 한줄에 4개씩
  .grid-rows-4 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: repeat(4, 1fr);
    -ms-grid-row: repeat(4, 1fr);
    gap: 50px;
    .car-items {
      height: 300px;
      .car-info {
        .car-image {
          position: relative;
          height: 150px;
          img {
            position: absolute;
            bottom: 20px;
            width: 100%;
            height: auto;
            object-fit: contain;
          }
        }
      }
    }
  }
}
